<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="readingList" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Reading List</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  
</head>
<body ng-app="readingList">
  

<div class="container">
<h1> Reading List </h1>

    <div class="row" ng-controller="ReadingListController as readingListCtrl">
      <button class="btn btn-default" ng-click="reviewFormController.showForm = !reviewFormController.showForm">{{reviewFormController.showForm ? "Cancel" : "Create Review"}}</button>
      <hr />
      <review-form books="readingListCtrl.books" genres="readingListCtrl.genres" ng-show="reviewFormController.showForm">  </review-form>
      <hr />

      <ul class="list-unstyled col-sm-8">
        <li class="book row" ng-repeat="book in readingListCtrl.books">
            

            <!--  book cover -->
            <book-cover></book-cover>

            <div class="col-sm-9">
                <h3> <a href="https://www.amazon.com/gp/product/{{book.isbn}}"> {{book.title}}</a>  
                </h3>

                <cite class="text-muted">{{book.author}} </cite>

                <p>{{book.review}}</p>

                <book-genres genres="book.genres"></book-genres>
            </div>
        </li>
      </ul>
    </div>
</div>


   <script type="text/javascript" src="bower_components/angular/angular.js"></script> 
  <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controller.js"></script> 
   <script type="text/javascript" src="js/directives.js"></script> 
</body>
</html>
